[submodule "backend"]
	path = backend
	url = git@github.com:prosenjit-manna/hardware-assets-management-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:prosenjit-manna/hardware-assets-management-frontend.git
[submodule "types"]
	path = types
	url = git@github.com:prosenjit-manna/hardware-assets-management-types.git
